[Unit]
Description=Fetch Server
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/source/spent/fetch-server
ExecStart=/home/pi/source/spent/fetch-server/.venv/bin/uvicorn server:app --host 0.0.0.0 --port 8001
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
