.vscode
downloads
node_modules
screenshots
user-data
debug.log
*.py[cod]

# python venv
bin
lib
lib64
share
pyvenv.cfg

config.js
import.js
# Google API credentials
credentials.json
# Google OAuth session token
token.json
