html, body, #app, #page-daily, #page-categories {
	height: 100%;
}
body {
  margin: 0;
}
#page-daily, #page-categories {
  display: flex;
	flex-direction: column;
}
.app-bar {
  flex: none;
}
.app-bar .has-selected-items {
  background-color: #fff !important;
}
.app-bar .has-selected-items svg {
  fill: #616161 !important;
}
.app-bar .has-selected-items button[disabled] svg {
  fill: rgba(0, 0, 0, .3) !important;
}
.app-bar .has-selected-items h1 {
  color: #616161 !important;
}
.app-bar svg {
  fill: #fff !important;
}
.app-drawer-header {
  padding: 16px;
  display: flex;
  align-items: center;
}
.app-drawer-header > .user-icon {
  font-size: 32px;
  width: 56px;
}

.chart, .controls {
  flex: none;
  padding: 0 16px;
}

#page-daily > .chart {
  flex: 0 1 400px;
  max-height: calc(50% - 64px);
}

.controls {
  display: flex;
}
.controls > div > div {
  width: auto !important;
}

.transactions {
  flex: 1;
  overflow: auto;
  border-top: 1px solid lightgrey;
  line-height: 46px;
}

.transactions .row {
  display: flex;
  border-bottom: 1px solid lightgrey;
  height: 47px;
}
.transactions .row.selected {
  background-color: #eee;
}

.transactions .row > .date {
  white-space: nowrap;
  font-size: 70%;
  margin-left: 16px;
  flex: none;
}

.transactions .row > .amount {
  white-space: nowrap;
  text-align: right;
  margin-left: 16px;
  flex: 0 0 80px;
}
.transactions .row > .amount.credit {
  color: green;
}

.transactions .row > .category {
  margin-left: 16px;
  font-size: 24px;
  text-align: center;
  flex: 0 0 32px;
  width: 32px;
  cursor: pointer;
}
.transactions .row.selected > .category {
  margin-top: 4px;
  color: #757575;
}

.transactions .row > .description {
  white-space: nowrap;
  margin-left: 16px;
  flex: 1 1 auto;
  overflow: auto;
}

.transactions .row > .description > .notes {
  color: #9e9e9e;
}

/* spans are around tags. */
.transactions .row > .description > span:not(.notes) {
  background-color: #ddd;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 8px;
  color: #666;
}