html, body, #app, #page-daily {
	height: 100%;
}
body {
  margin: 0;
}
#page-daily {
  display: flex;
	flex-direction: column;
}

.chart, .controls {
  flex: none;
  padding: 0 16px;
}

#page-daily > .chart {
  flex: 0 1 400px;
  max-height: calc(50% - 64px);
}
#page-daily .controls > :nth-child(2) {
  margin: 0 24px;
}
#page-daily .controls > :nth-child(3) {
  flex-shrink: 1.5;
}

.controls {
  display: flex;
  padding-bottom: 16px;
}
#page-report .controls {
  padding-top: 16px;
}

.loading-container {
  border-top: 1px solid lightgrey;
  text-align: center;
  padding-top: 24px;
}
.transactions {
  flex: 1;
  overflow: auto;
  border-top: 1px solid lightgrey;
  line-height: 46px;
}

#page-report #json-categories {
  min-height: 360px;
  max-height: 600px;
}
#page-report .report-trees {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#page-report .report-trees > div {
  flex: 1 1 0;
  margin: 16px;
  min-width: 300px;
}
#page-report #rendered-tree {
  /* 37px more than #json-categories */
  max-height: 637px;
  overflow: auto;
}
#page-report #rendered-tree > .row {
  line-height: 24px;
  border-radius: 4px;
  margin: 4px;
  background-color: rgba(0, 0, 0, .08);
}
#page-report #rendered-tree > .row .amount {
  display: inline-block;
  white-space: nowrap;
  text-align: right;
  margin-right: 16px;
  width: 90px;
}
#page-report #rendered-tree > .info {
  color: rgba(0, 0, 0, .3);
  font-size: small;
}

@media (max-width: 420px) {
  #page-daily .controls > :nth-child(2) {
    margin: 0 8px;
  }
  #page-daily .controls button {
    padding: 0;
  }
}
